#heading{
    color: brown;
}
.form{
    color: green;
    float: left;
    
   
}
.input{
    border-color: black;
}
.input.centre{
    margin-left: 10px;
    margin-right: 20px;
    }
  .form{
  margin-right:100px;
  }
  .body{
    background-color: darkgray;

  }
  .img{
    width: 50%;
    margin-right: 30px;

  }
  .container{
    display: flex;
  


  }